---
layout: default
---

<div class='container'>
  <section>
    <h1>
      안녕하세요.
      <br>
      저는 김대수입니다.
    </h1>

    <p class="intro">
      서울에서 3년차 데이터 사이언티스트로 일하고 있으며
      데이터 수집, 집계, 분석, 예측을 통해 데이터가 사람의 생활속에서 일하도록 하는 것을 좋아합니다.
      데이터가 필요한 이유는 과거를 통해 미래를 바라보기 위함이라고 생각합니다.
      언젠가 모든 곳에서 데이터의 가치와 속성을 이해하는 환경이 되도록 만드는 것을 꿈꾸고 있습니다.
    </p>
  </section>
  <hr />
  <section>
    <h2>
      Career
    </h2>

    <div class="row">
      <div class="row-left">
        <h3>헬로네이처</h3>
        <span>Datalab Manger: Data Scientist</span>
        <br/>
        <span>2018.10.10 ~ 현재</span>
      </div>
      <div class="row-right">
        <div class="project">
          <h4>고객 쿠폰사용율 예측 모델링</h4>
        </div>
        <div class="project">
          <h4>상품 판매량 예측 시뮬레이션 시스템 개발</h4>
        </div>
        <div class="project">
          <h4>BI 구축</h4>
        </div>
        <div class="project">
          <h4>검색엔진</h4>
        </div>
        <div class="project">
          <h4>추천시스템</h4>
        </div>
        <div class="project">
          <h4>통합 데이터 플랫폼</h4>
        </div>
        <div class="project">
          <h4>쿠폰 타겟 고객 클러스터링</h4>
        </div>
        <div class="project">
          <h4>Data Lake 구축</h4>
        </div>
        <div class="project">
          <h4>사용자 행동데이터 분석</h4>
        </div>
        <div class="project">
          <h4>비지니스 리포트 시스템</h4>
        </div>
      </div>
    </div>

  </section>
  <hr />
  <section>
      <h2>
        Ability
      </h2>
      <div class="other">
        <ul>
          <li><b>새로운 것을 두려워하지 않습니다 - </b>항상 새로운 것과 기존에 것 사이에 효율성과 안정성의 트레이드 오프를 생각하며 일에 적용합니다.</li>
          <li><b>빠른 학습 능력을 가지고 있습니다 - </b>책, 인터넷, 논문, 사람의 집단지성 등 다양한 소스에서 정보를 습득해 조합하여 사용하는데 탁월합니다.</li>
          <li><b>목적을 잊지 않습니다 - </b>많은 회의와 안건, 방대한 데이터와 정보의 홍수 속에서 이뤄야할 목적을 잊지 않고 핵심을 찾아 실행합니다.</li>
          <li><b>예의와 상식으로 대화할줄 압니다 - </b>일에 너무 많은 감정을 가져오지도 또 너무 폐쇠적으로 혼자로 지내지 않으며 성숙하게 커뮤니케이션 합니다.</li>
          <li><b>스트레스를 관리할 줄 압니다 - </b>사람이라면 가지고 있는 감정과 피로를 적절한 휴식과 운동을 통해 관리하여 달려야 할때 달릴 준비가 되어있습니다.</li>
        </ul>
      </div>

  </section>

  <hr />
  <section>
      <h2>
        Skill
      </h2>
      <div class="other">
        <h5>
          Overall
        </h5>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <h5>
          Python
        </h5>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
  </section>

  <hr />
  <section>
      <h2>
        Experience
      </h2>
      <div class="other">
        <h5>
          Academy
        </h5>
        <ul>
          <li><u>대학원 진학 예정</u> (성균관대학교 성균융합원 - 데이터사이언스융합학과) <b>입학예정</b> (2021.후기 ) </li>
          <li>Fast Campus - 데이터 사이언스 스쿨 <b>수료</b> (2018.04 ~ 2018.08) </li>
          <li>DS School - 딥러닝 <b>수료</b> (2017.12 ~ 2018.01) </li>
          <li>DS School - 데이터 사이언스 <b>수료</b> (2017.09 ~ 2017.11) </li>
          <li>한동대학교 - 컴퓨터공학 / 경영학 <b>졸업</b> (2010.03 ~ 2017.02)</li>
          <li>벨국제학교 - <b>졸업</b> (2007.03 ~ 2010.02) </li>
        </ul>

        <h5>
          Oversea
        </h5>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
  </section>
</div>







<style>
* {
  box-sizing: border-box;
}

div {
  letter-spacing: -.3px;
  padding: 0 2rem;
  -webkit-font-smoothing: antialiased;
}


h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 80px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-inline-start: 80px;
  margin-inline-end: 250px;

}

.intro {
  line-height: 1.4;
  font-weight: 500;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 80px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.0em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: -20px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 1.0em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
  font-weight: bold;
}

li {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
}

.row-right {
  float: right;
  width: 50%
}

.row-left {
  float: left;
  width: 50%
}

section {
    display: block;
    padding: 0 2rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eee;
}


</style>
