---
layout: default
---

<div id="main" role="main">
  <h1>
    안녕하세요.
    <br>
    저는 김대수입니다.
  </h1>

  <p class="intro">
    서울에서 3년차 데이터 사이언티스트로 일하고 있으며
    데이터 수집, 집계, 분석, 예측을 통해 데이터가 사람의 생활속에서 일하도록 하는 것을 좋아합니다.
    데이터가 필요한 이유는 과거를 통해 미래를 바라보기 위함이라고 생각합니다.
    언젠가 모든 곳에서 데이터의 가치와 속성을 이해하는 환경이 되도록 만드는 것을 꿈꾸고 있습니다.
  </p>

  <h2>
    Career
  </h2>

  <div class="row">
    <div class="row-left">
      <h3>헬로네이처</h3>
      <span>Datalab Manger: Data Scientist</span>
      <br/>
      <span>2018.10.10 ~ 현재</span>
    </div>
    <div class="row-right">
      <div class="project">
        <h4>고객 쿠폰사용율 예측 모델링</h4>
      </div>
      <div class="project">
        <h4>상품 판매량 예측 시뮬레이션 시스템 개발</h4>
      </div>
      <div class="project">
        <h4>BI 구축</h4>
      </div>
      <div class="project">
        <h4>검색엔진</h4>
      </div>
      <div class="project">
        <h4>추천시스템</h4>
      </div>
      <div class="project">
        <h4>통합 데이터 플랫폼</h4>
      </div>
      <div class="project">
        <h4>쿠폰 타겟 고객 클러스터링</h4>
      </div>
      <div class="project">
        <h4>Data Lake 구축</h4>
      </div>
      <div class="project">
        <h4>사용자 행동데이터 분석</h4>
      </div>
      <div class="project">
        <h4>비지니스 리포트 시스템</h4>
      </div>
    </div>
  </div>

</div>



<style>
div {
  letter-spacing: -.3px;
  padding: 0 2rem;
}


h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 80px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-inline-start: 80px;
  margin-inline-end: 250px;

}

.intro {
  line-height: 1.4;
  font-weight: 500;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 80px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.row-right {
  float: right;
  width: 50%

}

.row-left {
  float: left;
  width: 50%

}


</style>
